/* ==========================================================================
  Doc Specific Changes
   ========================================================================== */

.products h2 {
  text-align: center;
}

.products .grid {
  justify-content: center;
}



.badge {
  background: $white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 300px;
  min-width: 200px;
  height: 180px;
  overflow: hidden;
  padding: 25px;
  padding-top: 40px;
  font-size: 14px;
  line-height: 19px;
  color: #505071;
  position: relative;
  flex: 0 0 auto;
  display: block;
  margin: 10px 1%;
}

.badge p {
  font-size: 14px;
}

.badge p strong {
  font-size: 16px;
  font-family: Inter, sans-serif !important;
}

.badge:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.badge * {
  color: $brand-black;
}

.badge.with_image p {
  margin: 0 !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.badge img {
  border: 0 !important;
  object-fit: none;
  height: 100px;
  width: 100px;
  padding-top: 28px;
  padding-bottom: 15px;
}

.grid.big .badge img {
  top: 0;
  left: 0;
  width: 420px;
  max-width: 420px;
  min-width: 420px;
  margin-top: -50px;
  margin-left: -28px;
  float: none;
}

.badge .nav {
  position: absolute;
  left: 50%;
  top: 0px;
  width: 116px;
  border-radius: 0 0 18px 18px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 4px;
  transform: translateX(-50%);
  background-color: $brandpurple-dark;
}

.badge .nav.read::before {
  content: url("../img/read_white.png");
  margin-right: 5px;
  vertical-align: text-top;
}

.badge .nav.title {
  background-color: #8438FA;
  color: white;
}

.grid.big .badge .nav.title {
  background-color: #ff6c7d;
  color: white;
}

.grid .badge.next {
  background-color: #505071;
}

.grid.mid .badge {
  padding-top: 28px;
}

.grid.mid .badge img {
  float: right;
  margin-top: -4%;
  margin-right: 1%;
  height: 80px;
  width: 150px;
  object-fit: scale-down;
}

.grid.big .badge img {
  height: 234px;
  width: 412px;
  object-fit: scale-down;
  margin-left: -30px;
}

.grid.big center {
  margin-top: 30px;
}

.grid.mid .badge {
  height: 190px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
  margin-bottom: 20px;
  margin-left: -10px;
  padding: 5px;
}

.grid .badge .bottom {
  display: none;
}

.badge h1,
.badge h2,
.badge h3,
.badge h4 {
  padding: 0 !important;
  margin: 0 !important;
  margin-top: -5px !important;
  font-family: Inter, sans-serif !important;
}

.badge p {
  padding-top: 0 !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.badge h1 a,
.badge h2 a,
.badge h3 a,
.badge h4 a {
  display: none !important;
}

.grid.big .badge h2 {
  margin-top: 40px !important;
}

.grid.big .badge>.read {
  display: none;
}

.grid .badge {
  width: 98%;
  max-width: 300px;
}

.grid.mid .badge {
  width: 98%;
  max-width: 620px;
}

.grid.big .badge {
  width: 98%;
  max-width: 410px;
  min-height: 480px;
  max-height: 480px;
}

@media only screen and (min-width: 800px) {
  .grid .badge {
    width: 48%;
  }

  .grid.mid .badge {
    width: 48%;
  }
}

@media only screen and (min-width: 1300px) {
  .grid .badge {
    width: 31%;
  }

  .grid.big .badge {
    width: 48%;
  }
}

.grid.big .badge p,
.grid.mid .badge p {
  font-size: 14px;
}

.grid.big .badge.next {
  text-align: center;
  vertical-align: middle;
  line-height: 380px;
  color: white;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.grid.big .badge.next img {
  height: 26px;
  width: 18px;
}

.grid.big .badge .bottom {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: center;
  width: 380px;
}

.grid.big .badge .bottom .read {
  color: #258B80;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid.big .badge .bottom .read::before {
  content: url("../img/read_green.png");
  margin-right: 5px;
  vertical-align: text-top;
}







.return-top {
  display: none;
}

.submenu-toggle {
  top: 60px !important;
}

.submenu-toggle span {
  top: 0px !important;
}







/* Edit on GitHub button */
.button.medium {
  color: white;
  margin: 10px;
  padding-top: 0;
  height: 25px;
  padding-bottom: 0;
  min-width: 0;
  line-height: 26px;
}

/* iframe display */
iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Table top margin */
.wysiwyg table {
  margin-top: 20px;
}

/* Anchor tags */
:target:before {
  content: "";
  height: 90px;
  margin: -90px 0 0;
}

/* Link icon */
#main-content h2>a>img,
#main-content h3>a>img,
#main-content h4>a>img,
#main-content h5>a>img {
  vertical-align: middle;
  border: none !important;
  height: 17px;
  display: inline-block;
  margin-left: 5px;
}

.hasSidebar #main-content h2:first-child {
  padding-top: 0;
}

.search input:placeholder-shown:valid {
  border-color: $white;
}


/* Hero image */
.hero-sidebyside img {
  margin-right: 20px;
  width: 45px;
  margin-top: 10px;
}

.hero-sidebyside h1,
.hero-sidebyside .hero-text {
  margin-top: 10px;
}

#doc-icon {
  font-size: 32px;
  width: 400px;
}







/* Suggest an Edit */
.suggest-edit {
  width: auto;
  cursor: pointer;
  font-size: 16px;
}

.suggest-edit:before {
  padding-right: 10px;
}

/* Inline Images */
.wysiwyg img {
  border: 1px solid #e2e2e2;
}

.wysiwyg h1 {
  margin-bottom: 26px;
  font-size: 30px;
  font-family: Inter, sans-serif;
}

.wysiwyg h2 {
  font-weight: bold;
  font-family: Inter, sans-serif;
  padding-top: 55px;
}

.wysiwyg h1:first-of-type {
  margin-top: 0;
  border-top: 0;
  padding-top: 0;
}

.wysiwyg h3 {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding-top: 57px;
  margin-top: 0;
}

.wysiwyg h4 {
  font-size: 19px;
  margin-bottom: 26px;
  margin-top: 55px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.wysiwyg h5 {
  font-size: 17.5px;
  margin-bottom: 26px;
  margin-top: 55px;
  font-family: "Inter", sans-serif;
}

.wysiwyg p {
  margin-bottom: 16px;
  margin-top: 16px;
}

/* Code Blocks */
.wysiwyg pre {
  padding: 20px;
  border-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  @media screen and (min-width: 769px) and (max-width: 1049px) {
    max-width: 650px; // Change max-width for medium screens
  }

  @media screen and (min-width: 1050px) and (max-width: 1300px) {
    max-width: 800px; // Change max-width for large screens
  }

  @media screen and (min-width: 1301px) {
    max-width: 950px; // Change max-width for extra-large screens
  }
}

.wysiwyg code {
  overflow-wrap: break-word;
}

.hljs {
  overflow-x: initial !important;
}

.button.copy {
  background: #dfdfed;
  color: #000 !important;
  height: 30px;
  width: 160px;
  border-radius: 18px;
  line-height: 1px;
  padding: 0 16px;
  text-transform: none;
  font-size: 11px;
  letter-spacing: 0.025em;
}

/* Blockquote */
.wysiwyg blockquote:before {
  font-size: 20px;
  left: 20px;
  top: 30px;
}

.wysiwyg blockquote {
  padding: 23px 0px 1px 60px;
  background: #e1e1e1;
  margin-bottom: 20px;
}

.wysiwyg blockquote p {
  margin-top: 7px;
  margin-bottom: 27px;
}

/* Lists */
.wysiwyg ul {
  padding-left: 26px;
}

.wysiwyg li {
  list-style-position: initial;
  margin-top: 10px;
}

.wysiwyg ol {
  padding-left: 26px;
  margin-bottom: 32px;
}










/* Documentation : Navigation */
.docs-navigation {
  padding: 80px 0;
  margin-top: 10px;
  border-top: 1px solid rgba(122, 121, 161, 0.4);
  display: none;
}

.hasSidebar .docs-navigation {
  display: block;

  @include breakpoint(xlarge) {
    background: url("../img/nav-center.png") 50% center no-repeat;
  }
}

.docs-navigation>div {
  display: table-row;
}

.docs-navigation>div>* {
  display: table-cell;
  vertical-align: middle;
}

.docs-navigation img {
  border: 0;
  display: none;
}

.docs-navigation #previousArticle {
  position: relative;
  float: left;
  max-width: 250px;
  text-align: center;
  margin-left: 50px;
}

.docs-navigation #nextArticle {
  position: relative;
  float: right;
  max-width: 250px;
  text-align: center;
  margin-right: 50px;
}

.docs-navigation .button {
  margin-bottom: 0;
}

.docs-navigation #previousArticle::before {
  content: url("../img/nav-left.png");
  position: absolute;
  left: -50px;
  top: 0px;
}

.docs-navigation #nextArticle::before {
  content: url("../img/nav-right.png");
  position: absolute;
  right: -50px;
  top: 0px;
}

.docs-navigation a {
  color: #505071 !important;
  font-size: 16px;
  text-align: left !important;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.docs-navigation a span {
  font-size: 16px;
  font-weight: bold;
  color: $brandpurple-dark;
  display: block;
  font-family: "Inter", sans-serif;
}










/* Return to Top buttons */

#return-to-top {
  position: fixed;
  bottom: 80px;
  right: 30px;
  background: #e1e1e1;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: $brandgreen-3;
  color: white;
}

#return-to-top:before {
  float: none;
  margin-left: 20px;
  margin-top: 1px;
  font-size: 31px;
  transform: rotate(271deg);
}

.button.grey.medium.bottom {
  float: right;
  display: none;
}

@media only screen and (max-width: 1340px) {
  #return-to-top {
    visibility: hidden;
  }
}











/* Documentation : Share - Print*/
.docs-share-print {
  padding: 10px 0;
  margin-top: 50px;
  clear: both;
  /*overflow: auto;*/
  margin-bottom: 30px;
}

.docs-share-print a {
  display: inline-block;
  margin-right: 50px;
}

.share-print a:before {
  padding-right: 12px;
}

/* ==========================================================================
    Hero
     ========================================================================== */
// .hero {
//   background: white;
//   color: $white;
//   height: 100px;
//   min-height: 0;
//   z-index: 10;
// }

// .hero-sidebyside {
//   padding-top: 0px;
// }

// .hero-sidebyside h1,
// .hero-sidebyside .hero-text {
//   float: left;
//   width: 100%;
// }

// .hero .search {
//   margin-top: 10px;
//   max-width: 100%;
// }

.media-body-body {
  margin-top: 5px;
}

.media-body-title {
  border-top: 1px solid #e1e1e1;
}

.media-body-title a {
  font-weight: bold;
  color: #505071;
}

.media-body:hover {
  background: #e1e1e1;
}

iframe {
  max-width: 100%;
  border-radius: 20px;
}


@media only screen and (max-width: 1000px) {
  .hero-sidebyside h1,
  .hero-sidebyside .hero-text {
    float: none;
    width: 100%;
  }

  #doc-icon {
    margin-bottom: auto;
    line-height: 16px;
    margin-top: 6px;
  }

  .docs-share-print {
    position: static;
  }

  .docs-share-print a {
    margin-right: 0;
  }

  .wysiwyg h1,
  .wysiwyg h2 {
    font-size: 29px;
  }

  .wysiwyg img {
    padding: 0;
  }

  .documentation-search {
    width: 100%;
    max-width: 400px;
  }

  .docs-navigation a {
    text-align: center;
  }

  .docs-navigation #previousArticle,
  .docs-navigation #nextArticle {
    float: none;
    width: 100%;
    max-width: 100%;
  }

  .button.medium {
    min-width: 205px;
  }

  .wysiwyg {
    margin-right: 0;
  }

 

  .docs-navigation .button {
    margin-bottom: 5px;
  }

  .icon-right:before {
    float: none;
  }

  .button.copy {
    visibility: hidden;
  }

  .grid.mid .badge img {
    float: none;
    display: block;
    width: 100%;
  }

  .badge p {
    font-size: 14px;
  }

  .algolia-autocomplete {
    width: 100%;
  }

  .algolia-autocomplete .ais-SearchBox-input,
  .hero input {
    background-color: white !important;
  }

  .docs-navigation a {
    display: block !important;
    float: none;
    margin: 0 !important;
    text-align: center !important;
    padding-bottom: 20px !important;
  }

  .docs-navigation img {
    display: none;
  }

  .docs-navigation {
    background-image: none !important;
    text-align: center !important;
    padding: 20px 0;
    margin-top: 0;
  }

  .docs-navigation #previousArticle::before,
  .docs-navigation #nextArticle::before {
    position: relative !important;
    left: 0 !important;
  }

  .documentation-search-results {
    width: 100%;
    padding: 10px;
  }

  .grid.big .badge .bottom {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .button.medium {
    min-width: 174px;
    margin-right: 4px;
    font-size: 10px;
  }

  .share-print span {
    display: none;
  }

  .docs-navigation .button {
    padding: 0;
    letter-spacing: 0.1em;
  }
}

.external-links::after {
  content: "";
  background:  url("../img/external-link.svg") no-repeat 0 0;
  width: 16px!important;
  height: 16px!important;
  display: inline-block;
  top: 0;
  background-size: 100%;
}

.external-links-black::after {
  content: "";
  background:  url("../img/external-white.svg") no-repeat 0 0;
  width: 16px!important;
  height: 16px!important;
  display: inline-block;
  top: 0;
  background-size: 100%;
}