/* Footer */
.footer {
    background-color: $brand-black;
    color: $white;
    margin: 0 -30px;
    padding: 25px 40px 15px;

    @include breakpoint(large) {
      margin-inline-end: calc(-1 * var(--main-inline-padding));
    }

    & > *:not(:last-child) {
        margin-bottom: 0.4rem;
    }

    .page-content & a:not(.button) {
        color: $brandpurple-1;

        &:hover {
            color: $brandpurple-2;
        }
    }

    h3 {
        margin-bottom: 1rem;
        color: $white;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    ul {
        list-style: none;
    }

    hr {
        border-color: $brandpurple-4;
    }

    &__menu {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;

        .footer-col {
            flex-grow: 1;
            min-width: 150px;
            margin-bottom: 0.1rem;
        }

        li {
            margin-bottom: 0.5rem;
        }
    }

    &__logos {
        ul {
            display: flex;
            justify-content: space-between;
        }

        img {
            opacity: 0.6;
        }
    }

    &__social {
        a {
            display: inline-block;
            margin-right: 1.5rem;

            &:before {
                font-size: 1.7rem;
            }
        }
    }

    &__colophon {
        text-align: center;
    }

    &__nav-legal {
        ul {
            display: flex;
            justify-content: left;
        }
        li{
            margin-right: 24px;
        }
        a {
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
            text-decoration-line: underline;
            &:hover {
                color: $brandpurple-3 !important;
            }
        }


    }

    &__copyright {
        color: $brandpurple-4;
        text-decoration: none!important;

    }

@include breakpoint(large, down) {
        padding: 40px 40px 30px;
    }
}
.legal{
    text-decoration: none!important;
}


.footer__social {
    [class*=icon-social] {
        width: 2rem;
        height: 2rem;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 2rem;
        background-color: #36364C;

        &:hover {
            background-color: $brandpurple-3;
        }
    }

    .icon-social {
        &-github {
            background-image: url('../img/icon-social-github-refresh.svg');
        }
        &-linkedin {
            background-image: url('../img/icon-social-linkedin-refresh.svg');
        }
        &-twitter {
            background-image: url('../img/icon-social-twitter-refresh.svg');
        }
        &-facebook {
            background-image: url('../img/icon-social-facebook-refresh.svg');
        }
        &-youtube {
            background-image: url('../img/icon-social-youtube.svg');
        }
        &-podcast {
            background-image: url('../img/icon-social-podcast.svg');
        }
    }
}
