/* ==========================================================================
Tree View
========================================================================== */

.aside-submenu {
    padding-left: 30px;
}

.version-selector {
    padding: 1rem 0;
}


.st-treed {
    font-size: 15px;
    
    ul {
        margin-top: 20px;
        position: relative;
        /* pointer-events: none; */
    }

    li {
        list-style: none;
        width: 100%;
        padding-left: 25px;
        list-style-type: none;
        line-height: 20px;
        margin-bottom: 20px;
        position: relative;

        &:not(.st-file):after {
            pointer-events: auto;
            /* content: "\e802"; */
            content: '';
            background-image: url("../images/tyk_docs_arrow_up_icon.svg");
            background-repeat: no-repeat;
            background-position: center;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }
    
    .st-collapsed {
        height: 20px;
        overflow: hidden;
        display: table;
        
        ul {
            display: none;
        }
    }
    
    
    a {
        display: block;
        position: relative;
        pointer-events: auto;
        width: calc(100% - 30px);
        
        &:hover {
            color: #2f3f9e;
        }
    }
}


.st-treed .category-Label:after {
    background-image: none !important;
}

.st-treed .category-Label.st-collapsed:after {
    background-image: none !important;
}

.st-treed .category-Label ul>li {
    padding-left: 0;
}

.st-treed .category-Label ul:before {
    width: 0 !important;
    background-color: white !important;
}

/* Tree : Icons */
.st-treed li.st-collapsed:after {
    background-image: url("../images/tyk_docs_arrow_down_icon.svg");
    padding-left: 1px;
}

.st-treed>ul>li>a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.st-treed>ul>li li {
    padding-left: 15px;
}

.st-treed>ul>li>a {
    color: #505071;
}

.st-treed>ul>li>a:hover {
    color: #7A79A1;
}

.st-treed>ul>li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.st-treed>ul>li:nth-child(1):before {
    background-image: url('../images/tyk_docs_nav_home_icon.svg');
}

.st-treed>ul>li:nth-child(2):before {
    background-image: url('../images/tyk_docs_nav_apim_icon.svg');
}

.st-treed>ul>li:nth-child(3):before {
    background-image: url('../images/tyk_docs_nav_getstarted_icon.svg');
}

.st-treed>ul>li:nth-child(4):before {
    background-image: url('../images/tyk_docs_nav_tykstack_icon.svg');
}

.st-treed>ul>li:nth-child(5):before {
    background-image: url('../images/tyk_docs_nav_keyc_icon.svg');
}

.st-treed>ul>li:nth-child(6):before {
    background-image: url('../images/tyk_docs_nav_faq_icion.svg');
}

/* Tree : Vertical lines */
.st-treed .st-open>ul:before {
    content: "";
    background: #bdbddf;
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    z-index: 1;
}

.st-treed .st-open.child-active>ul:before,
.st-treed .st-open.active>ul:before {
    background: #258B80;
}

.st-treed .st-open>a {
    font-weight: bold;
    color: #505071;
}

.st-treed .st-open:last-child .st-open:last-child:before {
    display: none;
}

/* Tree : Active */
.st-treed .active>a {
    color: #258B80;
    font-weight: bold;
}