/* ==========================================================================
Tree View
========================================================================== */
.page-submenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    
    @include breakpoint(xlarge) {
        width: 20%;
    }
    
    @include breakpoint(large) {
        .section-page:not(.hasSidebar) & {
            display: none ;
        }
    }
    
    @include breakpoint(large, down) {
        .section-page:not(.hasSidebar) & {
            .header__tabs-menu {
                flex-grow: 2;
            }
        }
    }

    .menu-external {
        padding: 1rem 0;
        border-top: 1px solid $brandpurple-3;

        a {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: right;
            color: $brandpurple-7;
            display: block;
            text-align: left;
            padding: 0.25rem 1rem;
        }
    }

    .header__tabs-menu {
        height: auto;
        border-bottom: 0;

        a {
            display: block;
            padding: 0.5rem 0;

            &:before {
                bottom: 0px;
            }
        }
   
        &--collapsable {
            padding: 0;
            
            .links-container {
                display: flex;
                flex-direction: column;
                position: relative;
                
                &--dropdown {
                    display: none;
                }
    
                &.js-open .links-container--dropdown {
                    display: block;
                    position: absolute;
                    top: calc(100% - 2px);
                    left: 0;
                    width: 100%;
                    background: $white;
                    z-index: 2;
                    // border-top: 1px solid $brandpurple-1;
                    border-radius: 0 0 4px 4px;
                    
                    & > a:first-child {
                        border-top: 1px solid $brandpurple-1;
                    }
                }
            }


            a {
                margin-right: 0;
                padding: 0.5rem 1rem;
                
                &:hover {
                    color: $brandgreen-4;
                }

                &:before {
                    display: none;
                }

                &.active {
                    display: block;
                    background-color: $white;
                    border-radius: 4px;
                    order: -1;

                    &::after {
                        content: '';
                        pointer-events: auto;
                        background-image: url(../images/tyk_docs_arrow_down_icon.svg);
                        background-repeat: no-repeat;
                        background-position: right;
                        width: 100%;
                        height: 20px;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        cursor: pointer;
                    }
                }
            }

            .links-container.js-open {
                a.active::after {
                    background-image: url(../images/tyk_docs_arrow_up_icon.svg);
                }

                a.active {
                    border-radius: 4px 4px 0 0;
                }
            }

            @include breakpoint(large) {
                display: none;
            }
        }
    }

}

.aside-submenu {
    flex-grow: 1;
    padding: 0 1rem 0 1.5rem;
    overflow-y: scroll; 

}
  
.version-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid $brandpurple-1;
    color: $brandpurple-9;

    select {
        border: 1px solid $brandgreen-4;
        padding: 0 0.25rem;
        border-radius: 4px;
        color: $brandpurple-9;
    }
}

.st-treed {
    font-size: 15px;
    
    ul {
        margin-top: 20px;
        position: relative;
        /* pointer-events: none; */
    }

    li {
        list-style: none;
        width: 100%;
        padding-left: 25px;
        list-style-type: none;
        line-height: 20px;
        margin-bottom: 20px;
        position: relative;
        background: transparent !important;

        &:not(.st-file):after {
            pointer-events: auto;
            /* content: "\e802"; */
            content: '';
            background-image: url("../images/tyk_docs_arrow_up_icon.svg");
            background-repeat: no-repeat;
            background-position: right;
            width: 100%;
            height: 20px;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }
    
    .st-collapsed {
        height: 20px;
        overflow: hidden;
        display: table;
        
        ul {
            display: none;
        }

        &:not(.st-file):after {
            height: 100%;
        }
    }
    
    
    a {
        display: block;
        position: relative;
        pointer-events: auto;
        width: calc(100% - 30px);
        
        &:hover {
            color: $brandgreen-4;
        }
    }
}


.st-treed .category-Label {
    &:after {
        background-image: none !important;
    }

    &.st-collapsed:after {
        background-image: none !important;
    }
    
    ul > li {
        padding-left: 0;
    }
    
    ul:before {
        width: 0 !important;
        background-color: white !important;
    }
}


/* Tree : Icons */
.st-treed li.st-collapsed:after {
    background-image: url("../images/tyk_docs_arrow_down_icon.svg");
    padding-left: 1px;
}


.st-treed>ul>li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.no-icons {
    .st-treed>ul>li {
        padding-left: 0;
        
        &:before {
            display: none;
        }
    }
}

.st-treed > ul > li {
    &:nth-child(1):before {
        background-image: url('../images/tyk_docs_nav_home_icon.svg');
    }
    
    &:nth-child(2):before {
        background-image: url('../images/tyk_docs_nav_apim_icon.svg');
    }
    
    &:nth-child(3):before {
        background-image: url('../images/tyk_docs_nav_getstarted_icon.svg');
    }
    
    &:nth-child(4):before {
        background-image: url('../images/tyk_docs_nav_tykstack_icon.svg');
    }
    
    &:nth-child(5):before {
        background-image: url('../images/tyk_docs_nav_keyc_icon.svg');
    }
    
    &:nth-child(6):before {
        background-image: url('../images/tyk_docs_nav_faq_icion.svg');
    }
}

/* Tree : Vertical lines */
.st-treed {
    & > ul {
        & > li > a {
            color: $brandpurple-7;
        }
        
        & > li:hover > a {
            color: $brandpurple-11;
            font-weight: bold;
            letter-spacing: -0.015rem;
        }

        & > li li {
            padding-left: 15px;
        }
        
        & > .st-open > ul:before {
            content: "";
            background: lighten($brandpurple-2, $amount: 12) ;
            width: 1px;
            height: 100%;
            top: 0;
            left: 0;
            display: block;
            position: absolute;
            z-index: 1;
        }
    }

    .st-open {
        &.child-active > ul:before,
        &.active > ul:before {
            background: $brandgreen-4;
        }
        
        & > a {
            font-weight: bold;
            color: $brandpurple-7;
            letter-spacing: -0.015rem;
        }
        
        &:last-child .st-open:last-child:before {
            display: none;
        }
    }
    
    /* Tree : Active */
    .active > a {
        color: $brandgreen-3;
        font-weight: bold;
    }
}



/* Side menu footer */
.page-submenu__footer {
    padding: 1rem 1.5rem;
    border-top: 1px solid $brandpurple-1;
    background-color: lighten($brandpurple-1, $amount: 3);

    a {
        display: inline-block;
        padding-bottom: 0.5rem;
        font-weight: 600;
        color: $brandgreen-3;
        text-decoration: underline;
    }
}

@include breakpoint(large, down) {
    .submenu-close {
        color: $black;
    }
    
    .page-submenu {
        position: fixed;
        z-index: 999;
        top: 60px;
        bottom: 0;
        right: 0;
        overflow: scroll;
        background-color: $brandpurple-1;
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
        width: 400px;
        max-width: 100%;
        padding: 60px 10px 0 10px;
        z-index: 10;
        margin: 0;
        margin-bottom: -20px;

        .version-selector select {
            background-color: transparent;
        }

        &__footer {
            background-color: $white;
            margin-left: -10px;
            margin-right: -10px;
        }
        
        .show-submenu & {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    
    
    .submenu-toggle {
        padding-left: 60px;
        position: absolute;
        top: -91px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: left;
        font-weight: bold;
        z-index: 1;
        
        span {
            position: fixed;
            top: 0;
            width: 60px;
            height: 60px;
            display: block;
            left: 0;
            z-index: 1;
        }
    }
    
    
    .submenu-toggle,
    .submenu-toggle span {
        background: #e1e1e1 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANIAAADSBAMAAADNt4NxAAAAHlBMVEXh4eEAABgQECZhYW/c3NxiYm8PDyVoaHUODiVpaXYXwExtAAAAdklEQVR42u3XsQ2AIBAFUFeABiltnIANnMAl3MPNTaSVmCgNyXvNLy+QIz9MEwAAAAAAAAAA/LKt5Y4zPJpLt0l7SDUaUrdJS4g1GuKAk95uL/fbiKNuRONQsXg0AAN0bta5OhdA5/rn6lydCwAAAAAAAAAAX12TVi2ZVFNHAAAAAABJRU5ErkJggg==');
        background-size: auto 100%;
        background-position: top left;
        background-repeat: no-repeat;
    }
    
    .submenu-close {
        position: fixed;
        z-index: 4;
        font-size: 16px;
        top: 0;
        left: 2rem;
        color: $brandpurple-3;
        padding-right: 2rem;

        &::before {
            position: absolute;
            right: 0;
        }
    }
}