body {
    scrollbar-width: none;

    &::-webkit-scrollbar {
		display: none;
	}
}

.section-page {
    background: top center url("../img/front-bg-1.svg") repeat-x;
    background-size: 4817.57px;
    background-color: #ebebf2;
    height: calc(100vh - #{$header-height} - #{$header-tabs-height});
    overflow: hidden;
    
    &.hasSidebar {
        background: $white;
        width: 100%;
        display: flex;
    }
    
    &:not(.hasSidebar) {
        .wysiwyg {
            padding-bottom: 4rem;
        }
    }

    @include breakpoint(large, down) {
        height: calc(100vh);
        padding-bottom: 0;
    }
}

.page-content {
    position: relative;
    height: 100%;
    padding-top: 60px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    .hasSidebar & {
        width: 75%;
        padding-left: 30px;
        border-left: 1px solid $brandpurple-1;

        @include breakpoint(xlarge) {
            width: 80%;
        }
    }
    
    .wysiwyg a:not(.button) {
        color: $brandgreen-3;
    }

    &__container {
        width: 100%;
    }

    &__sidebar {
        width: 100%;
    }

    @include breakpoint(large) {
        .hasSidebar &__main {
            display: grid;
            grid-template-columns: minmax(400px, 4fr) minmax(200px, 1fr);
            // grid-template-columns: auto 200px;
            
            &.no-toc {
                grid-template-columns: 1fr;
            }
        }

        .hasSidebar &__container {
            padding-right: 2rem;
        }
    }
}


.page-submenu {
    display: none;
    
    .hasSidebar & {
        display: flex;
        flex-direction: column;
        width: 25%;
        
        @include breakpoint(xlarge) {
            width: 20%;
        }
    }
}


@media only screen and (max-width: 1000px) {
    .hasSidebar .page-content {
        width: 100%;
    }
}



@media only screen and (max-width: 1000px) {
    .section-page {
        padding-top: 0;
    }

    .hasSidebar .page-content {
        border: none;
    }

    .section-page {
        background: -20px center url("../img/content-bg.svg") repeat-x;
        background-size: 4817.57px;
        background-color: white;
    }
}





.hasSidebar .ais-SearchBox-input {
    background: #ededf9 !important;
}