body {
    scrollbar-width: none;

    &::-webkit-scrollbar {
		display: none;
	}
}

.section-page {
    background: top center url("../img/front-bg-1.svg") repeat-x;
    background-size: 4817.57px;
    background-color: $brandpurple-light;
    height: calc(100vh - #{$header-height} - #{$header-tabs-height});
    overflow: hidden;

    &.hasSidebar {
        background: $white;
        width: 100%;
        display: flex;

        @include breakpoint(large) {
          padding-inline-start: var(--main-inline-padding);
        }
    }

    &:not(.hasSidebar) {
        .wysiwyg {
            padding-bottom: 4rem;
        }
    }

    @include breakpoint(large, down) {
        height: 100vh;
        padding-bottom: 0;
    }
}

.page-content {
    position: relative;
    height: 100%;
    padding-top: 60px;
    overflow-y: scroll;
    overflow-x: hidden;

    .hasSidebar & {
        width: 80%;
        padding-left: 30px;
        border-left: 1px solid $brandpurple-light;

        @include breakpoint(large) {
          padding-inline-end: var(--main-inline-padding);
        }
    }

    .edit-button {
        max-width: unset;
        margin-inline: unset;
        text-indent: 0;
        margin-top: 40px!important;
    }

    .wysiwyg a:not(.button):not(.badge) {
        color: $brandpurple-dark!important;
        text-decoration: underline;

    }


    &__container {
        width: 100%;
    }

    &__sidebar {
        width: 100%;
    }

    @include breakpoint(large) {
        .hasSidebar &__main {
            display: grid;
            grid-template-columns: minmax(400px, 4fr) minmax(200px, 1fr);

            &.no-toc {
                grid-template-columns: 1fr;
            }
        }

        .hasSidebar &__container {
            padding-right: 2rem;
        }
    }
}


@include breakpoint(large, down) {
    .hasSidebar .page-content {
        width: 100%;
        border: none;
    }

    .section-page {
        padding-top: 0;
        background: transparent !important;
    }
}

.hasSidebar .ais-SearchBox-input {
    background: $brandpurple-1 !important;
}

.improve-this-page{
    background-color: $improve-page-background;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.action_bottom{
    background-color: $improve-page-background;
    border: 1px solid $border-primary;
    margin-top: 40px!important;
    padding: 20px;
}

.metadata-content-container{
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
}


.last-modified-date{
    margin-bottom: 3px!important;
    margin-top: 3px!important;
}
.metadata_heading{
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
.improve-this-page::before {
    content: "";
    background: url("../img/file.svg");
    width: 16px!important;
    height: 16px!important;
    display: inline-block;
    background-size: 100%;
  }
