@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif !important;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 20px;
}

.btn-primary {
  color: #03031C;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  border-radius: 20px;
  border: 1.2px solid #03031C;
  background: var(--secondary-secondary-50, #20EDBA);

  &:hover {
    background: var(--secondary-secondary-50, #20EDBA);
    color: #03031C;
    border: 1.2px solid #03031C;
  }
}


.text-primary {
  color: var(
                  --action-primary-default,
                  var(--primary-primary-50, #8438fa)
  ) !important;
}

.text-dk {
  color: #515071;
}

.text-sec {
  color: var(--text-subdued, #515071);
}

.nav {
  display: flex;
  align-items: center;
}

.nav_sub_active {
  border-bottom: 2px solid $brandpurple-dark;
}

.fs-xs {
  font-size: 14px;
}
.step{
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-action {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  align-items: center;
}

.search-input {
  border-radius: 8px;
  border: 1.2px solid var(--border-default, #d8d8df);
  background: var(--surface-neutral-default, #fff);
  display: flex;
  align-items: center;
}

.banner {
  background-image: url('../img/leaf_background.svg');
  background-size: auto;
  background-repeat: no-repeat;

}

.banner-c-right {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.home-section {
  margin-top: 40px;

}

.explore-section{
  background-image: url('../img/gradiet_explore.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;

}

.image-container {
  display: flex;
  justify-content: center;
}

.component-heading {
  margin-bottom: 20px;
}

.home-section-heading {
  color: #03031C;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home-section-pd{
  margin-bottom: 20px;
}

.stack-box{
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--border-default, #D8D8DF);
  background: var(--surface-neutral-default, #FFF);
  text-decoration: none!important;
  margin-bottom: 24px;
}
.stack-heading{
  color: var(--action-primary-default, var(--primary-primary-50, #8438FA));
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

ol, ul {
  padding-left: 0 !important;
}


.parent-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%!important;
}

.container-xl {
  padding-left:90px; /* Adjust the value as needed */
  padding-right: 70px;
}
