/* ==========================================================================
	Doc Specific Changes
   ========================================================================== */
.menu-getstarted {display: inline-block !important; vertical-align: middle; text-align: center;}
.menu-getstarted:after {content:'Back to Tyk' !important;}

.submenu-toggle, .submenu-toggle span {background: rgba(0,0,24, 0.85) !important;}
.submenu-toggle, .submenu-toggle span {left:auto !important; right: 0 !important; top:0 !important;}

.hasSidebar.section-page {padding-top: 100px !important;}

@media only screen and (max-width: 1000px) {
	.menu-getstarted { top:15px !important; }
}

.st-treed {font-size: 13px;}
.st-treed li {background-color:#E1E1E1;}

/* ==========================================================================
	Fonts
   ========================================================================== */
/*@font-face {
    font-family: 'smoolthan';
    src: url('../fonts/smoolthan_regular-webfont.woff2') format('woff2'),
         url('../fonts/smoolthan_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smoolthan';
    src: url('../fonts/smoolthan_bold-webfont.woff2') format('woff2'),
         url('../fonts/smoolthan_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
  font-family: 'tyk';
  src: url('../fonts/tyk.eot?66741098');
  src: url('../fonts/tyk.eot?66741098#iefix') format('embedded-opentype'),
       url('../fonts/tyk.woff?66741098') format('woff'),
       url('../fonts/tyk.ttf?66741098') format('truetype'),
       url('../fonts/tyk.svg?66741098#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

/* Default Fontello */
[class^="icon-"]:before, [class*=" icon-"]:before, blockquote:before {font-family: "tyk"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; text-align: center; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-cloud-b:before { content: '\e800'; } /* '' */
.icon-left:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-quote:before { content: '\e803'; } /* '' */
.icon-features:before { content: '\e804'; } /* '' */
.icon-extend:before { content: '\e805'; } /* '' */
.icon-cube:before { content: '\e806'; } /* '' */
.icon-hybrid-b:before { content: '\e807'; } /* '' */
.icon-onpremises-b:before { content: '\e808'; } /* '' */
.icon-case-studies:before { content: '\e809'; } /* '' */
.icon-hybrid:before { content: '\e80a'; } /* '' */
.icon-onpremises:before { content: '\e80b'; } /* '' */
.icon-cloud:before { content: '\e80c'; } /* '' */
.icon-share:before { content: '\e80f'; } /* '' */
.icon-print:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */

/* ==========================================================================
	Helpers
   ========================================================================== */
.clear:after {content: ""; visibility: hidden; display: block; height: 0; clear: both;}
.v-center {position: absolute; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);}
.center {display:block; margin-left: auto; margin-right:auto;} 
.cover {-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center center; background-repeat: no-repeat; }
.lazy {display: none;}
.browsehappy {position: fixed; bottom: 0; left: 0; right: 0; text-align: center; background: #000; color: #fff;}

.fluid-video {position: relative;}
.fluid-video iframe {position: absolute; top:0; left:0; bottom: 0; right:0; height: 100%; width: 100%;} 
.fluid-video:before {padding-top: 56.25%; content: ''; display: block;}

.fixed {position: fixed; top:0; bottom: 0; left:0; right: 0;}

.modal {overflow: scroll; visibility: hidden; opacity: 0; z-index: 3;}

.hotspot {position: absolute; top:0; left:0; bottom: 0; right: 0; cursor: pointer;}

.m-show {display: none;}


/* ==========================================================================
	General
   ========================================================================== */
* {margin: 0; padding: 0;}
html {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; box-sizing: border-box;} 
*, *:before, *:after  {box-sizing: inherit;}

body {background: #ffffff; color: #000;}
img {border: 0; display: block; outline: none; -ms-interpolation-mode: bicubic; max-width: 100%; height: auto;}
iframe {border: 0;}

/* ==========================================================================
	Typography
   ========================================================================== */
body {font-family: 'smoolthan'; line-height: 1.5;}

h1, h2, h3, h4 {font-weight: normal; }
h1 {}
h2 {}
h3 {}
h4 {}
p {margin-bottom: 16px;}

.mb {margin-bottom: 16px;}

.ucase {text-transform: uppercase;}

.bold {font-weight: bold;}

a {text-decoration: none; outline: none; color: inherit;}
cite, address {font-style: normal;}

.f-0 {font-size: 0;}
.f-12 {font-size: 12px;}
.f-13 {font-size: 13px;}
.f-14 {font-size: 14px;}
.f-16 {font-size: 16px;}
.f-18 {font-size: 18px;}
.f-26 {font-size: 26px;}
.f-37 {font-size: 37px; line-height: 1.13513513513514;}
.f-48 {font-size: 48px; line-height: 1.2;}

blockquote {font-style: italic;}
blockquote:before { content: '\e803';     height: 32px; font-size: 26px; position: relative; top: -3px; padding-right: 16px; } 
cite {display: block; margin: 0 0 0 auto; text-align: right;}
cite strong {display: block;}

.two-column {-webkit-columns: 2; -moz-columns: 2; columns: 2; -webkit-column-gap: 50px; -moz-column-gap: 50px; column-gap: 50px;  }

/* ==========================================================================
	Forms
   ========================================================================== */
button, input, optgroup, select, textarea {color: inherit; font: inherit; outline: none; border: none;}
input[type=text], input[type=submit], input[type=email], input[type=password] {-webkit-appearance: none; border-radius:0;}
input, select {height: 30px;} /* Input / select need to have height set and NOT lineheight (IE specifically) */
button, input[type="button"], input[type="submit"] {cursor: pointer;}
textarea {resize: none; overflow: auto; -webkit-appearance: none;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none; line-height: normal;}

input {line-height: 48px; }
input, textarea {color: #5a5a68; padding-left: 18px; width: 100%;  border-left:10px solid transparent; }
textarea {padding: 18px; height: 220px;}
input:valid, textarea:valid {border-color: #00d9ba; }
input:placeholder-shown:valid, textarea:placeholder-shown:valid {border-color: #000018; }
input:invalid, textarea:invalid {border-color: #d23059; }
input:placeholder-shown:invalid, textarea:placeholder-shown:invalid {border-color: transparent; }
input:required:placeholder-shown, textarea:required:placeholder-shown {border-color: #000018; }


::-webkit-input-placeholder {color: #b7b7b7;}
:-moz-placeholder {color: #b7b7b7;}
::-moz-placeholder {color: #b7b7b7;}
:-ms-input-placeholder {color: #b7b7b7;}

/* Gravity Forms */
.hidden_label label {display: none;}
.gform_body {margin-top: 52px;}
.gform_body li {list-style-type: none; margin-bottom: 10px;}
.gform_footer {text-align: center;}

.gform_validation_error .gform_heading {display: none;}
.gfield_error input, .gfield_error textarea {border-color:#d23059 }
.validation_message {display: none;}

/* ==========================================================================
	Buttons
   ========================================================================== */

.button {height: 48px; border-radius: 24px; padding: 0 60px; line-height: 48px; color: #FFF; font-size: 14px; font-weight: bold; display: inline-block; margin-bottom: 12px; text-transform: uppercase; letter-spacing: 0.15em;}

.button.fluid {width: 100%; padding-left: 0; padding-right: 0; text-align: center;}

.button.green {  background: #109eae; background: -webkit-linear-gradient(75deg,  #109eae 0%,#04dec4 100%); background: linear-gradient(75deg,  #109eae 0%,#04dec4 100%); }
.button.green.glow {box-shadow: 0px 0px 8px 4px rgba(0, 217, 186, 0.75) inset; }

.button.red { background: #d23059; -webkit-linear-gradient(15deg, #d23059 0%,#ff1745 100%); background: linear-gradient(15deg, #d23059 0%,#ff1745 100%);}
.button.red.glow { box-shadow: 0px 0px 8px 4px rgba(254, 77, 112, 0.75) inset; }

.button.navy { border-color: #2f3f9e; background: #1a237d; -webkit-linear-gradient(75deg, #1a237d 0%,#2f3f9e 100%); background: linear-gradient(75deg, #1a237d 0%,#2f3f9e 100%); }
.button.navy.outline {border-color: #2f3f9e; color: #2f3f9e;}

.button.white { border-color: #FFF; background: #FFF; }
.button.white.outline {border-color: #FFF; color: #FFF;}

.button.grey {background: #a4a4a8;}

.button.blue {background: #2f3f9e;}

.button.hybrid {background: #0569a9; -webkit-linear-gradient(90deg, #0584af 0%,#04b0b9 100%); background: linear-gradient(90deg, #0584af 0%,#04b0b9 100%);}
.button.onpremises {background: #924f73; -webkit-linear-gradient(90deg, #924f73 0%, #e1647b 100%); background: linear-gradient(90deg, #924f73 0%, #e1647b 100%);}

.button.outline {border:2px solid transparent; background: transparent;}
.button.outline.blue {border-color:#2f3f9e; color: #2f3f9e;}

.button.small {height: 26px; border-radius: 18px; line-height: 26px; padding: 0 16px; text-transform: none; font-size: 11px;}
.button.small:before {font-size: 12px; margin-right: 6px;}
.button.medium {height: 30px; border-radius: 15px; line-height: 30px; min-width: 205px; font-size: 13px;}

/* ==========================================================================
	Structure
   ========================================================================== */
html, body {height: 100%;}
.container {max-width: 1336px; padding: 0 32px; margin: auto; position: relative; }   

/* ==========================================================================
	Header
   ========================================================================== */
.header { background: rgba(0,0,24, 0.85); color: #FFF; position: fixed; top:0; left:0; right: 0; line-height: 60px;     height: 60px; text-transform: uppercase; letter-spacing: 0.175em; font-weight: bold; text-align: right; z-index: 2;}
.header .container {height: 100%;}

.logo {position: absolute; height: 28px; top:18px; left:32px; margin: auto; display: inline-block;}
.logo img {width: auto; height: 100%; display: block;}

.header-github {width: 28px; height: 28px; color: #ff1745; background: #FFF; border-radius: 50%; position: absolute; left:128px; top:0; bottom: 0; margin: auto; z-index: 1;}
.header-github:before, .header-github:after  { left:0; position: absolute;}
.header-github:before {width: 26px; height: 26px; line-height: 1; top:-2px;  font-size: 32px;}
.header-github:after {content: ''; border: 1px solid #ff1745; top:0; width: 28px; height: 28px; border-radius: 50%;}

.menu > ul {display: inline-block; position: relative; text-align: center;}
.menu li {padding: 0 14px; display: inline-block; list-style-type: none; position: relative;}
.menu a {display: block; }

.menu .menu-underline { background: #00d9ba; height: 2px; position: absolute; bottom: 0; left:0; padding: 0; pointer-events: none;}

.submenu {visibility:hidden; height: 0; opacity:0; position: absolute; top:60px; left:50%; -webkit-transform:translateX(-50%); transform:translateX(-50%); line-height: 50px;}
.submenu li {background: rgba(35,31,32, 0.85); display: block; margin-top: 1px; padding: 0 26px; white-space: nowrap; opacity: 0; visibility: hidden;} 
.submenu li:hover, .submenu li.active {background: rgba(0,217,186, 0.85);}

.menu-getstarted {position: relative;  background: #d23059; -webkit-linear-gradient(15deg, #d23059 0%,#ff1745 100%); background: linear-gradient(15deg, #d23059 0%,#ff1745 100%); padding: 0 40px; border-radius: 15px;  margin: auto auto auto 14px; overflow: hidden;}
.menu-getstarted, .menu-getstarted:after  {line-height: 30px; height: 30px;  text-transform: uppercase; display: inline-block; letter-spacing: 0.1em;}
.menu-getstarted:after {content:'Get Started'; background: #109eae; background: -webkit-linear-gradient(-175deg,  #109eae 0%,#04dec4 100%); background: linear-gradient(-175deg,  #109eae 0%,#04dec4 100%); position: absolute; top:0; right:0; bottom: 0; left:0;  visibility: hidden; opacity: 0; }

/* State */
.menu li:hover .submenu { opacity: 1; visibility: visible; height: auto;}
.menu li:hover li {opacity: 1; visibility: visible;}
.menu-getstarted:hover:after {opacity: 1; visibility: visible;}

/* ==========================================================================
	Footer
   ========================================================================== */
.footer {background: #000018;  text-transform: uppercase; letter-spacing: 0.175em;}

.footer .container {max-width: 1122px; font-size: 0; padding: 100px 32px 70px 32px;}

.footer h3 {color: #505071; font-weight: bold;}
.footer h3:after {content: ''; height: 1px; width: 32px; background: #00d9ba; margin-top: 22px; margin-bottom: 28px; display: block;}

.footer-menu {width: 20%; float: left; line-height: 2.66666666666667;  padding-bottom: 16px;}
.footer-menu a {color: #e1e1e1; display: block;}
.footer-menu a.active {color: #00D9BA;}

.footer-social {margin: auto; text-align: center; clear: both;}
.footer-social a {width: 44px; height: 44px; line-height: 44px; font-size: 28px; color: #505071; text-align: center; display: inline-block;}
.footer-social a:hover {color: #FFF;}

.footer small {color: #505071; position: absolute; right: 32px; line-height: 50px; bottom: 0; text-align: right; text-transform: none; letter-spacing: 0.1em; font-size: 11px; text-transform: none;}


/* ==========================================================================
	Get in Touch
   ========================================================================== */
.section-getintouch:target {opacity: 1; visibility: visible;}

.section-getintouch {background: rgba(12,12,33,0.95); }
.section-getintouch .container {max-width: 541px; background: #e1e1e1; width: 100%; left:0; right:0; top:0; bottom: 0; margin: auto; padding: 100px 100px 50px 100px; position: absolute; z-index: 2;}
.section-getintouch .container:after {content: '* all fields are required'; font-size: 13px; color: #676773; line-height: 90px; position: absolute; left:40px; bottom: 0; position: absolute;}
.section-getintouch h2 {margin-bottom: }

.close-getintouch {cursor: none; z-index: 1;}

/* ==========================================================================
	Page Layout
   ========================================================================== */
.hasSidebar aside {width: 30%; min-width: 30%; padding-right: 60px; float: left; display: inline-block; min-height: 1px; }
.hasSidebar .container:before {content: ''; position: absolute; top: -113px; bottom: -113px; width: 100%; right: 70%;     right: calc(70% - 16px); z-index: -1; background: #e1e1e1; }
.hasSidebar article {width: 70%; padding-left: 55px; float: left;}
 
.section-page {padding: 113px 0;}

.wysiwyg h1 {font-size: 46px; font-weight: bold; margin-bottom: 48px;}
.wysiwyg h2 {font-size: 32px; margin-bottom: 20px;}
.wysiwyg h3 {font-size: 18px; font-weight: bold; margin-bottom: 26px; margin-top: 55px;}
.wysiwyg h3:first-of-type {margin-top: 0;}
.wysiwyg p {margin-bottom: 32px;}
.wysiwyg ul {margin-bottom: 32px;}
.wysiwyg li {list-style-position: inside; margin-bottom: 10px;}
.wysiwyg hr {border: 0; border-bottom: 2px solid #E4E4E4; outline: none; margin-top: 52px;}

.aside-submenu {padding-top: 10px;}

.aside-submenu-item { font-weight: bold; margin-bottom: 24px; list-style-type: none;}
.aside-submenu-item:before {content: ''; width: 9px; height: 9px; vertical-align: middle; background: #000; border-radius: 50%; margin: auto 18px auto 0; display: inline-block; }
.aside-submenu-item.active {color: #2f3f9e;}
.aside-submenu-item.active:before {background: #2f3f9e;}

.aside-subsection {color: #000; display: block; padding-left: 66px; position: relative; text-transform:capitalize; margin-bottom: 24px;}
.aside-subsection:before {content: ''; width: 22px; height: 1px; background: #000; margin: auto 16px auto 30px; display: inline-block; vertical-align: middle; position: absolute; left:0; top:11px;} 
.aside-submenu-item a:nth-child(2) {margin-top: 14px;}
.aside-subsection.active {color: #2f3f9e;}
.aside-subsection.active:before {background: #2f3f9e;}

/* Page : Sidebar */
.page-aside {padding: 0 32px 100px 0;}
.page-aside h1 {margin-bottom: 10px;}
.page-aside h2 {margin-bottom: 45px;}
.page-aside img {max-height: 80px; margin: 0 0 60px 0;}


/* ==========================================================================
	Transitions
   ========================================================================== */
.menu-underline { -webkit-transition: left 0.5s cubic-bezier(1, 0.01, 0, 1.22), width 0.5s cubic-bezier(1, 0.01, 0, 1.22); transition: left 0.5s cubic-bezier(1, 0.01, 0, 1.22), width 0.5s cubic-bezier(1, 0.01, 0, 1.22); }

.menu {-webkit-transition: transform 0.75s cubic-bezier(.77,0,.175,1); transition: transform 0.75s cubic-bezier(.77,0,.175,1); }

.menu-getstarted:after { -webkit-transition: opacity 0.3s ease-in; transition: opacity 0.3s ease-in; }

.modal { -webkit-transition: opacity 0.5s cubic-bezier(1, 0.01, 0, 1.22);  transition: opacity 0.5s cubic-bezier(1, 0.01, 0, 1.22); }

.footer-social a, .getstarted-installation-options a { -webkit-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }

.submenu li {-webkit-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in;}
.submenu li:nth-child(1) {-webkit-transition-delay:0.1s; transition-delay:0.1s; }
.submenu li:nth-child(2) {-webkit-transition-delay:0.2s; transition-delay:0.2s; }
.submenu li:nth-child(3) {-webkit-transition-delay:0.3s; transition-delay:0.3s; }
.submenu li:nth-child(4) {-webkit-transition-delay:0.4s; transition-delay:0.4s; }
.submenu li:nth-child(5) {-webkit-transition-delay:0.5s; transition-delay:0.5s; }
.submenu li:nth-child(6) {-webkit-transition-delay:0.6s; transition-delay:0.6s; }
.submenu li:nth-child(7) {-webkit-transition-delay:0.7s; transition-delay:0.7s; }
.submenu li:nth-child(8) {-webkit-transition-delay:0.8s; transition-delay:0.8s; }

/* Extend Animation */
.extend-animation span {-webkit-transition: transform 0.5s ease-in;  transition: transform 0.5s ease-in;}

/* Pricing */
.pricing-faq {-webkit-transition: height 0.5s ease-in;  transition: height 0.5s ease-in;}

/* Page Submenu */
.page-submenu {-webkit-transition: transform 0.75s cubic-bezier(.77,0,.175,1); transition: transform 0.75s cubic-bezier(.77,0,.175,1);}

/* ==========================================================================
	Animations
   ========================================================================== */
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-moz-keyframes bgRight {
	from { background-position: 0 0; }
	to { background-position: -200% 0; }
}

@-webkit-keyframes bgRight {
	from { background-position: 0 0; }
	to { background-position: -200% 0; }
}

@-o-keyframes bgRight {
	from { background-position: 0 0; }
	to { background-position: -200% 0; }
}

@-ms-keyframes bgRight {
	from { background-position: 0 0; }
	to { background-position: -200% 0; }
}

@keyframes bgRight {
	from { background-position: 0 0; }
	to { background-position: -200% 0; }
}

/* ==========================================================================
	Media Queries
   ========================================================================== */
/* ----------- Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 1000px) {
	
	.m-show {display: block;}
	.m-hide {display: none;}
	
	.container {padding: 0 26px;}
	
	.button {font-size: 13px; padding: 0 40px; height: 46px; line-height: 46px;}
	.button.medium {min-width: 0;}

	/* ==========================================================================
		Typography
	   ========================================================================== */
	.f-26 {font-size: 19px;}
	.f-37 {font-size: 30px;}
	.f-48 {font-size: 34px;}
	
	.wysiwyg h1 {font-size: 30px; margin-bottom: 20px;}
	.wysiwyg h3 {margin-bottom: 20px; margin-top: 40px;}
	.wysiwyg hr {margin-top: 40px;}
	
	/* ==========================================================================
		Header
	   ========================================================================== */
	.header {position: absolute; right: 60px;}

	.burger {width: 60px; height: 60px; position: fixed; top:0; right: 0; background: rgba(0,0,24,0.85); z-index: 3; }
	.burger:before, .burger:after {content: ''; width: 23px; margin: auto;  position: absolute; top:0; bottom: 0; left:0; right:0;}
	.burger:before { height: 16px; border-top:2px solid #FFF; border-bottom: 2px solid #FFF; }
	.burger:after { height: 2px;  background: #FFF; } 
	
	.menu, .submenu {line-height: 52px; font-size: 22px; }
/*
	
	.menu { position: fixed; top:0; right: 70px; left:0; top:0; bottom: 0; background: #000018; text-align: left; padding: 26px; z-index: 2;  text-transform: none; -webkit-transform: translateX(-100%); transform: translateX(-100%); max-width: 310px; }
	.menu:before, .menu:after { content: ''; position: absolute; left:26px;  display: block; }
	.menu:before { height: 1px; background: #00d9ba; width: 30px;  top:97px;}
	.menu:after { height: 28px; width:73px; background: url('images/header-logo.svg'); top:30px;}
	.menu .menu-underline {display: none;}
	.menu > ul {text-align: left; margin-top: 94px; width: 100%;}
	.menu li {display: block; padding: 0; position: static;}
	
	.menu .footer-social {position: absolute; left:26px; bottom: 26px;}
	.menu .footer-social a {text-align: left;}
*/
	
	.menu-getstarted { position: absolute; top: 26px; right: 26px; padding: 0 20px; font-size: 10px;}	
	
	.submenu {position: absolute; top:0; left:0; width: 100%; background: #000018; -webkit-transform: none; transform: none; }
	.submenu li {margin: 0; background: transparent; padding: 0 0 0 40px;}
	.menu li:hover .submenu {height: 100%;}
	
	/* State */
	.show-menu .menu {-webkit-transform: translateX(0); }
	.show-menu .burger:after {content: '\e801'; font-family: 'tyk'; font-size: 22px; color: #FFF; line-height: 60px; width: auto; height: auto; background: transparent;}
	.show-menu .burger:before {visibility: hidden; }


	/* ==========================================================================
		Page
	   ========================================================================== */			
 	.section-page {padding-top: 151px;}
 	.hasSidebar.section-page {padding-top: 0;}
 	
 	
 	.hasSidebar .container:before {display: none;}
 	.hasSidebar article {width: 100%; padding-left: 0; float: none;}
 
  	.hasSidebar .page-submenu {position: fixed; top:0px; bottom: 0; left: 0; right: 0; overflow: scroll; -webkit-transform: translateX(-100%) !important; transform: translateX(-100%) !important; width: auto; min-width: 0; padding: 26px;  background: #e1e1e1; z-index: 3;}
 	.show-submenu .page-submenu {-webkit-transform: translateX(0%) !important; transform: translateX(0%) !important;}

 	.submenu-toggle, .submenu-close {height: 60px; line-height: 60px; cursor: pointer;}
 	.submenu-toggle { padding-left: 60px;  position: absolute; top:-91px; left:0; right: 0; width: 100%; text-align: left; font-weight: bold;}
 	.submenu-toggle span {position: fixed; top:0; width: 60px; height: 60px;display: block; left:0; z-index: 1; }
 	.submenu-toggle, .submenu-toggle span { background: #e1e1e1 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANIAAADSBAMAAADNt4NxAAAAHlBMVEXh4eEAABgQECZhYW/c3NxiYm8PDyVoaHUODiVpaXYXwExtAAAAdklEQVR42u3XsQ2AIBAFUFeABiltnIANnMAl3MPNTaSVmCgNyXvNLy+QIz9MEwAAAAAAAAAA/LKt5Y4zPJpLt0l7SDUaUrdJS4g1GuKAk95uL/fbiKNuRONQsXg0AAN0bta5OhdA5/rn6lydCwAAAAAAAAAAX12TVi2ZVFNHAAAAAABJRU5ErkJggg=='); background-size:auto 100%; background-position: top left; background-repeat: no-repeat; }

 	.submenu-close {width: 60px; background: #e1e1e1; right: 0; z-index: 4; position: fixed; font-size: 40px; top:0;}

	.hasSidebar .page-aside {display: block; width: auto; float:none; padding: 100px 26px 38px 26px;  margin-left: -26px; margin-right: -26px; background: #E1E1E1; position: static; }
	.page-aside img {margin-bottom: 36px;}
 	

	/* ==========================================================================
		Footer
	   ========================================================================== */
	.footer .container {padding: 48px 26px;}
	.footer h3 {width: 30%; float: left;}
	.footer h3:after {display: none;}
	.footer-menu {width: 100%; float: none; clear: both; overflow: auto; padding-bottom: 40px;}
	.footer-menu a {width: 70%; float: right;}
	.footer small {right: 26px;}

}


/* ==========================================================================
	Cross Browser
   ========================================================================== */
.browserupgrade {padding: 10px; position: fixed; bottom: 0; left:0; right:0; font-size: 13px; text-align: center; color: #000; background-color: #FFF;}
.browserupgrade a {color: #000; text-decoration: underline;}

/* ==========================================================================
	Slick Slider
   ========================================================================== */
.slick-slider{position:relative;display:block;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}.slick-track{position:relative;top:0;left:0;display:block}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}


/* ==========================================================================
	venobox.css
   ========================================================================== */
.vbox-overlay *, .vbox-overlay *:before, .vbox-overlay *:after{
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
/* ------- overlay: change here background color and opacity ----- */
.vbox-overlay{
    background: #0b0b23;
    background: rgba(0,0,0,0.85); 
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;

}

/* ----- navigation ----- */
.vbox-next, .vbox-prev{ position: fixed; top: 50%; color: #fff; width: 50px; height: 50px; margin-top: -25px; font-size: 0; text-align: center;}
.vbox-prev {left: 0;}
.vbox-next {right: 0;}
.vbox-prev:before, .vbox-next:before {font-family: 'tyk'; font-size: 26px; width: 50px; height: 50px; line-height: 50px; text-align: center;}
.vbox-prev:before {content: '\e801';}
.vbox-next:before {content: '\e802';}


/* ------- PLease do NOT edit this! (or do it at your own risk) ------ */
.vbox-open{
    overflow: hidden;
}
.vbox-container{
    position: relative;
    background: #000;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.vbox-content{
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.vbox-container img{
    max-width: 100%;
    height: auto;
    margin: auto;
}