
#nextArticle {
  float:right;
}

.container-github {
    color: rgba(0,0,24, 0.85);
    position: absolute;
    right: 0;
    top: -30px;
    margin: auto;
    z-index: 1;
    font-size: x-large;;
}

@media ( max-width: 600px) {
  #nextArticle {
    width: 100%;
 }
 #previousArticle {
 	width: 100%;
    margin-bottom: 20px;
 }
}
