.simontest {
    display: grid;
    grid-template-columns: 80px 200px auto 30px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
  
.simontest > div {
    background-color: rgba(138, 72, 72, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

p {
    background-color: green;
}